@import url("footer.css");

html,
body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 70px;

    background: #333;
    color: white;

    display: flex;
    align-items: center;

    z-index: 1000;
}

.header button {
    background-color: #ffffff;
    color: #080710;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    position: relative;
    margin-top: 70px;
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}